<div class="container-fluid " style="background-color: #cfffe2 ; margin-top: 10%">
  <div class="row">
    <div class="col-4">
      <div class="row ml-2" style="background-color: #f7fff6">
        <div class="col-12">
          <h2 style="color: #d39e00">Hướng dẫn di chuyển</h2>
          <p style="text-align: left">Khu nghỉ dưỡng Furama là cơ sở hàng đầu để khám phá một trong
            những điểm đến hấp dẫn nhất Châu Á. Chỉ cách Đà Nẵng một quãng lái xe ngắn là bốn Di sản
            Văn hóa Thế giới được UNESCO công nhận:</p>
          <h4 style="color: #ffec6a;">Địa Điểm :</h4>
          <ol>
            <li>Cố đô huế</li>
            <li>Phố cổ Hội An</li>
            <li>Thánh địa Mỹ sơn</li>
            <li>Động Phong Nha</li>
          </ol>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="row">
        <div class="col-4"></div>
        <div class="col-8">
          <div class="row mt-5">
            <ul>
              <li>Giá công bố</li>
              <br>
              <li>Lifestyle Blog</li>
              <br>
              <li>Tuyển Dụng</li>
              <br>
              <li>Liên Hệ</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="row mt-5">
        <div class="col-12">
          <h4 style="color: sandybrown;text-align: left">Liên hệ</h4>
          <p style="text-align: left">103 - 105 Vo Nguyen Giap Street, Khue My Ward, Ngu Hanh Son
            District, Danang City, Vietnam
            Tel.: 84-236-3847 333/888 * Fax: 84-236-3847 666
            Email: reservation@furamavietnam.com * www.furamavietnam.com</p>
        </div>
      </div>
    </div>
  </div>
</div>
