<div class="container">
  <div class="row">
    <div class="col-12">
      <h3 style="color: #046056">Chỉnh sửa thông tin</h3>
      <form [formGroup]="updateForm" *ngIf="updateForm" (ngSubmit)="submit()">
        <div class="form-group">
          <label for="category">Danh mục</label>
          <select formControlName="category" class="form-control" id="category">
            <option disabled selected value="">-------</option>
            <option *ngFor="let c of categoryList" [ngValue]="c.id">{{c.name}}</option>
          </select>
        </div>

        <div class="form-group">
          <label for="city">Vùng miền</label>
          <select formControlName="city" class="form-control" id="city">
            <option  disabled selected value="">--------</option>
            <option *ngFor="let c of cityList" [ngValue]="c.id">{{c.name}}</option>
          </select>
        </div>

        <div class="form-group">
          <label for="date">Ngày đăng</label>
          <input type="date" formControlName="dateOfPost" id="date" class="form-control">
        </div>

        <div class="form-group">
          <span>Bạn đăng tin : </span>
          <input class="ml-3" type="radio" id="sell"  formControlName="post" name="post" value="Cần bán">
          <label class="mr-3" for="sell">Cần bán</label>
          <input type="radio" id="buy"  formControlName="post" name="post" value="Cần mua">
          <label for="buy">Cần mua</label>
        </div>

        <div class="form-group">
          <span>Trạng thái : </span>
          <input class="ml-3" type="radio" id="new"  formControlName="status" name="status" value="Mới">
          <label class="mr-3" for="new">Mới</label>
          <input type="radio" id="old"  formControlName="status" name="status" value="Đã sử dụng">
          <label for="old">Đã sử dụng</label>
        </div>

        <div class="form-group">
          <label for="address">Address</label>
          <input type="text" formControlName="address" class="form-control" id="address" placeholder="Address">
        </div>
        <div>
          <p class="col alert alert-danger" role="alert"
             *ngIf="updateForm.controls.address.hasError('required') && updateForm.controls.address.touched">
            Không được để trống.
          </p>
        </div>

        <div class="form-group">
          <label for="area">Diện tích</label>
          <input type="number" formControlName="area" id="area" class="form-control">
        </div>
        <div>
          <p class="col alert alert-danger" role="alert"
             *ngIf="updateForm.controls.area.hasError('required') && updateForm.controls.area.touched">
            Không được để trống.
          </p>
          <p class="col alert alert-danger" role="alert"
             *ngIf="updateForm.controls.area.hasError('min')">
            Phải >= 20 m <sup>2</sup>
          </p>
        </div>


        <div class="form-group">
          <label for="direction">Hướng</label>
          <select formControlName="direction" class="form-control" id="direction">
            <option disabled value="">--------</option>
            <option value="Đông">Đông</option>
            <option value="Tây">Tây</option>
            <option value="Nam">Nam</option>
            <option value="Bắc">Bắc</option>
          </select>
        </div>

        <div class="form-group">
          <label for="tilte">Tựa đề</label>
          <input type="text" formControlName="title" id="tilte" class="form-control">
        </div>
        <div>
          <p class="col alert alert-danger" role="alert"
             *ngIf="updateForm.controls.title.hasError('required') && updateForm.controls.title.touched">
            Không được để trống.
          </p>
        </div>

        <div class="form-group">
          <label for="content">Nội dung</label>
          <textarea formControlName="content" id="content" class="form-control"></textarea>
        </div>
        <div>
          <p class="col alert alert-danger" role="alert"
             *ngIf="updateForm.controls.content.hasError('required') && updateForm.controls.content.touched">
            Không được để trống.
          </p>
        </div>

        <div class="form-group">
          <label for="price">Giá</label>
          <input type="number" formControlName="price" class="form-control" id="price">
        </div>
        <div>
          <p class="col alert alert-danger" role="alert"
             *ngIf="updateForm.controls.price.hasError('required') && updateForm.controls.price.touched">
            Không được để trống.
          </p>
          <p class="col alert alert-danger" role="alert"
             *ngIf="updateForm.controls.price.hasError('min')">
            Phải >= 100 triệu VND.
          </p>
        </div>

        <div class="clearfix">
          <button class="btn btn-outline-success float-right" [disabled]="!updateForm.valid">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
